.water {
    display: flex;
}

.rivers-page--header {
    display: flex;
    width: 35rem;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 1rem;
}

.rivers--title {
    text-align: center;
    margin-bottom: 0;
}

.map--container {
    display: flex;
    align-items: center;
    padding: 6rem 1rem;
}

.rivers-page--container{
    display: flex;
    justify-content: space-between;
    width: 35rem;
    margin-left: 1rem;
    text-align: left;
}

.rivers--illustration {
    width: 35rem;
    margin: .25rem;
}

.map {
    height: 50rem;
    margin: 0 1rem;
    border: .2rem #242423 solid;
    border-radius: 2rem;
}

.river--list {
    line-height: 3rem;
}