.welcome--container {
    display: flex;
    background-color: #FFFF10;
}

.olBlue {
    width: 30rem;
    padding: 2rem;
    margin-top: 3rem;
}

.howToPlay {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding: 2rem;
    align-items: center;
}