@import url("../../index.css");

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6096ba;
    list-style: none;
    position: relative;
    padding: 1rem;
    transform: translateY(-15%);
    z-index: 1000;
    border-bottom: .2rem solid #242423;
    margin-bottom: 0;
}

.navbar-header {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: x-large;
   font-weight: 600;
   margin-left: 1rem;
}

.navbar-logo {
    height: 4rem;
}

.navbar-bars {
    color: #242423;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.navbar2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0; 
    transition: 500ms ease-in-out;
    margin-top: 9rem;
    margin-right: 2rem;
    padding: 1rem .5rem;
    border-radius: 15px;
    list-style: none;
    background-color: #F3F5F7;
    border: #242423 solid .2rem;
    transform: translateY(-110%);
    z-index: 999;
    transition: 500ms cubic-bezier(0.57, -0.6, 0.32, 1.27);
}

.navbar-listitem {
    padding: .3rem .5rem .3rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.how {
    margin-top: .5rem;
}

.navbar2.toggle {
    display: hidden;
    transform: translateY(calc(0% - 20px));
}